/* ===========================================
 				SEARCH BY CRITERIA
 ============================================= */
.criteria * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.criteria.drop {
	-webkit-box-shadow: none;
	box-shadow: none;
}
	.criteria__has-drop {
		position: absolute;
		width: 864px;
		overflow: hidden;
	}
		.criteria__holder {
			background: #88827e;
		}
			.criteria-form {
				color: #fff;
			}

				/* ===== commons for criteria form ===== */
				.criteria-form label {
					margin: 0;
					font: 11px/1.1em Arial, sans-serif;
					color: #fff;
					vertical-align: middle;
				}
				.criteria-form label:hover {
					text-decoration: underline;
				}
				.criteria--btn {
					position: absolute;
					top: 5px;
					left: 10px;
					height: 15px;
					outline: none;
					border: none;
				}

				/* ===== some states for form or form elements ===== */
				.criteria__main .col-3 .hold-data > .criteria--datetime {
					height: 28px;
					width: 130px;
				}

				/* ===== top panel at criteria form ===== */
				.criteria__top-panel {
					padding: 5px;
					border-bottom: 2px solid #736c67;
				}
					.criteria__top-panel > div {
						position: relative;
						display: inline-block;
						margin-top: 3px;
						vertical-align: top;
					}
					.criteria__top-checkbox {
						padding: 5px 20px 5px 10px;
						border-right: 1px solid #736c67;
					}
						.criteria__top-checkbox .customCheckbox {
							margin: 3px 10px 0 0;
						}

					.criteria__top-search {
						padding: 0 10px 0 0;
					}
						.criteria__top-search .btn-search {
							width: 15px;
							background: url("../images/bg-search.png");
						}
						.criteria__top-search > input[type="text"] {
							outline: none;
							height: 3em;
							width: 255px;
							margin: 0 0 -7px;
							background: none;
							padding: 3px 10px 8px 35px;
							font: italic 11px/1.5em 'open_sansregular';
							text-transform: uppercase;
							-webkit-box-shadow: none;
							box-shadow: none;
						}
						.criteria__top-search > input:focus,
						.criteria__top-search.ready > input {
							font-style: normal;
							color: #fff;
							border-bottom: 2px solid;
						}

					.criteria__top-reset {
						float: right;
					}
						.criteria__top-reset .btn-reset {
							width: 16px;
							background: url(../images/close-field.png);
						}
						.criteria__top-reset .reset-fields {
							font-size: 14px;
							padding: 6px 10px 3px 35px;
						}

				/* ===== main block at criteria form ===== */
				.criteria__main {
					padding-bottom: 1em;
				}
					.ranges__item {
						margin: 1em 0;
						font-size: 8px;
					}
					.ranges__item--injured,
					.ranges__item--dead,
					.ranges__item--hospitalized {
						background: url(../images/field-background-sm.png) no-repeat 10px 2em;
						padding-left: 30px;
					}
						.ranges--row:last-child {
							margin-top: 1.4em;
						}
							.ranges--row > [class*="ranges__"] {
							  	line-height: 2.8em;
								vertical-align: top;
							}
							.ranges__lbl {
								width: 60px;
							}
								.ranges--row > .ranges__lbl--sm-line {
									line-height: 1.3em;
								}
							.ranges__fields {}

					.criteria--col .criteria__hospitalized > .title,
					.criteria--col .medical-evacuation > .title--evacuation {
						margin: 8em 0 0;
					}
					.criteria__evacuation > .medical-evacuation > .title--evacuation {
						padding-left: 35px;
					}
					.ranges__item--evacuation {
						background: url(../images/field-background-sm-2.png) no-repeat 35px 1.9em;
					}
						.ranges__item--evacuation .ranges--row {}
						.ranges__item--evacuation .ranges--row:nth-of-type(2),
						.ranges__item--evacuation .ranges--row:nth-of-type(3) {
						  	margin-top: 1.3em;
						}
						.ranges__item--evacuation .ranges--row:last-child {
							margin-top: 4.4em;
						}
							.ranges__item--evacuation .ranges__lbl {
								width: 75px;
							}
					.ranges__item--hospitalized	> .ranges--row {
						text-align: left;
					}

				/* ===== bottom panel at criteria form ===== */
				.criteria__footer {
					height: 32px;
  					background: #766e69;
				}
				.criteria__footer > div {
					display: inline-block;
				}
					.criteria__footer-checkbox {
					  	padding: 9px;
  						line-height: 1em;
					}
					.criteria__footer-search {
						float: right;
					}
						.btn--search {
							padding: 7px 20px 8px;
							background: #00a3f5;
							font: 15px/32px Arial, sans-serif;
							text-align: center;
							text-decoration: none;
							text-transform: uppercase;
						}