/*=============================================
				COLORS
===============================================*/
.mailbox {
	background: #808080
}
.info_panel,
.info_search {
	background-color: #737880
}
.table_cell {
	color: #737880
}
.search_total,
.search_msg {
	color: #B9BCC0
}
.table_row:hover {
	background: #FFF
}
.search_container,
.table_caption,
.warning_def {
	background: #EDF0F2
}
.warning_blue {
	background: #D5E9F3
}
.info_tb_red {
	border-left: 8px solid #d9230f
}
.info_tb_orange {
	border-left: 8px solid #FF7D00
}
.info_tb_yelow {
	border-left: 8px solid #FFC800
}
.warning_red {
	background: #EBDBDB
}
.warning_red .code_tb,
.warning_red .descr_tb,
.caption_td_name {
	color: #111
}
.info_total {
	color: #B0B3B7
}
.data_area input {
	color: #878787
}.btn_go:hover {
	background: #009fef;
	border-color: #0088cc
}
.info_msg,
.btn_go {
	color: #FFF
}




	/*=====================================
				HEADER STYLES
	=======================================*/
	#header.mailbox__header {
		height: 60px;
		border-bottom: 2px solid #ABABAB;
		margin: 0
	}
		.mailbox__header .holder-operatop {
			margin-top: 16px
		}
		.mailbox__add {
			position: absolute;
			background: url(../images/bg-add.gif) no-repeat 0 0;
			width: 64px;
			height: 64px;
			text-indent: -9999px;
			overflow: hidden
		}
		.mailbox__add:hover {
			background-position: -64px 0
		}

		/* ===== SEARCH FORM ===== */
		.mailbox__header .search {
			position: absolute;
			top: 18px;
			left: 160px;
			height: 28px;
			width: 671px
		}
			.mailbox__header .search__input {
				color: #969AA0;
				font: italic 15px Arial;
				padding: 0 50px 0 10px;
				height: 27px;
				width: 561px;;
				border: none;
				-webkit-box-shadow: #c4c7c8 0 1px 2px;
				-moz-box-shadow: #c4c7c8 0 1px 2px;
				box-shadow: #c4c7c8 0 1px 2px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box
			}

			.mailbox__header .search__input:focus {
				background: url(../images/button_clear.png) #fff 100% 0 no-repeat;
				content: '';
			}

		.mailbox__header .search__btn {
			background-repeat: no-repeat;
			background-position: 0 0;
			float: right;
			height: 100%;
			width: 55px;
			text-indent: -9999px;
			overflow: hidden
		}
		.mailbox__header .search__btn--search {
			background: url(../images/button_search.png)
		}
		.mailbox__header .open .search__btn--filter {
			background: url(../images/icons/drop_open.png) 0 0;
			height: 48px;
		}
		.mailbox__header .search__btn--filter {
			background: url(../images/button_filter.png)
		}
		.mailbox__header .search__btn:hover {
			background-position: -56px 0
		}


/*=========================================*/

.new_table {
	width: 1280px;
	margin: 0 auto;
	font: 11px/22px Arial
}
.wrap {
	height: 870px;
	overflow-x: hidden
}
.table_caption,
.info_panel,
.table,
.table_row {
	display: table;
	width: 100%
}
.info_panel {
	border-top: 5px solid #81868D;
	height: 28px;
	margin-top: 1px;
	text-transform: uppercase;
	text-align: left;
}
.table_row {
	border: 1px solid #D3D5D7
}

.table_cell {
	display: table-cell;
	height: 30px;
	vertical-align: middle;
	text-align: left;
	padding: 0 11px;
}
.info_tb  {
	width: 8px;
}
.warning_red .code_tb,
.warning_red .descr_tb,
.caption_td_name {
  	font-family: Arial;
  	font-weight: bold;
}
.table_caption {
	display: table;
	height: 28px;
	border-bottom: 4px solid #CDCDCD;
	text-transform: uppercase;
}
.info_msg {
	width: 25%;
}
.info_total, 
.info_msg {
  text-align: left;
  padding: 0 10px;
}
.info_search {
	height: 30px
}
.ico_warn {
	background: url(../images/ico-warn.png) no-repeat;
	padding: 2px;
}
.ico_status_warn {
  background: url(../images/ico-status-verification.png) no-repeat;
}
.ico_status_edit {
	background: url(../images/ico-status-edit.png) no-repeat;
}
.ico_warn,
.ico_status_warn,
.ico_status_edit {
	padding: 0 9px;
	margin: 0 4px 0 20px;
	font-size: 19px;
	vertical-align: middle;
}
.ico_warn {
	margin-left: 0
}
.ico_scale_color {
	padding: 0 13px	0 20px;
	font-size: 21px;
	background: url(../images/ico-scale-color-id.png) no-repeat;

}
.table_separator {
	border-right: 1px solid #D2D2D2;
	height: 18px;
	float: right;
	margin-top: 4px;
}
.caption_td,
.local_tb,
.process_tb,
.date_tb,
.code_tb {
	padding-left: 24px;
	width: 100px;
}
.caption_td_name {
	padding: 0;
	width: 145px;
}
.caption_td_name,
.date_tb span {
  	font-family: Arial;
  	font-weight: bold;
}
.search_total,
.search_msg {
	display: inline-block;
	font-size: 12px
}
.search_total a {
	color: #B9BCC0;
	text-decoration: none;
}
.search_total {
  float: right;
  text-transform: uppercase;
  background: url(../images/icons/close.png) no-repeat 0 3px;
  margin: 6px 215px 0 0;
  padding: 0 25px;
}
.search_total:hover {
	background: url(../images/icons/close.png) no-repeat 0 -34px;
}
.search_msg {
	margin: 6px;
	text-transform: uppercase;
}


/*================================
			FORM
==================================*/


.search_container {
	width: 960px;
/* margin: 0 auto; */
/* position: absolute;
top: 100px;
left: 470px; */
}
.info {
	padding: 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.filter_block {
	border-bottom: 1px solid #C8CDD0
}
.btn_go {
  	height: 30px;
 	margin-right: 140px;
  	background: #766f6a;
  	padding: 0 20px;
  	float: right;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	border-bottom: 4px solid #67605c;
	-moz-text-shadow: #262423 0 1px 2px;
	-o-text-shadow: #262423 0 1px 2px;
	-webkit-text-shadow: #262423 0 1px 2px;
	text-shadow: #262423 0 1px 2px;
	-webkit-box-shadow: #b7b9bb 0 1px 2px;
	-moz-box-shadow: #b7b9bb 0 1px 2px;
	box-shadow: #b7b9bb 0 1px 2px
}
.btn_wrap,
.filter_block {
	padding: 30px 0
}
.btn_wrap {
	height: 30px
}
.d_inline_rel {
	display: inline-block;
	position: relative
}
.data_area {
	-webkit-box-shadow: #c4c7c8 0 1px 2px;
	-moz-box-shadow: #c4c7c8 0 1px 2px;
	box-shadow: #c4c7c8 0 1px 2px;
}
.data_area input {
	height: 28px;
	padding-left: 10px;
	border: none
}
.drop_block {
	margin: -28px 0 0;
	height: 28px
}
.drop_block .has_drop {
	position: absolute;
	width: 1100px;
	top: 36px;
  	margin-top: 10px;
	overflow: hidden;
}
.smal-select {
	width: 241px !important;
	margin-right: 20px;
}
.mailbox .checkboxes-item {
  width: 29%;
}
.smal-select .ui-datepicker-trigger {
	right: -2px
}
.form-close {
	position: absolute;
	right: 10px;
	top: 40px;
	background: url(../images/icons/form_close.png) no-repeat 0 0;
	width: 9px;
	height: 9px;
	text-indent: -9999px;
	overflow: hidden;
}


