/*=====================================
			OLD STYLES
=======================================*/
.new_table #header .holder-operatop {
	margin-top: 16px;
}
.new_table #header {
	height: 60px;
	border-bottom: 2px solid #ABABAB;
	margin: 0;
 }
 .add {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/bg-add.gif) no-repeat 0 0;
	width: 64px;
	height: 64px;
	text-indent: -9999px;
	overflow: hidden;
}
.add:hover {
	background-position: -64px 0;
}
.search_block {
	position: absolute;
	top: 18px;
	left: 160px;
	height: 28px;
	width: 671px;
}
.filter_button,
.search_button {
	background: url(../images/button_search.png) no-repeat 0 0;
	float: right;
	height: 100%;
	width: 55px;
	text-indent: -9999px;
	overflow: hidden;
}
.filter_button {
	background: url(../images/button_filter.png) no-repeat 0 0;
}
.search_button:hover,
.filter_button:hover {
	background-position: -56px 0;
}
/*=========================================*/

@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/ArialRegular/ArialRegular.eot");
    src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ArialBold";
    src: url("../fonts/ArialBold/ArialBold.eot");
    src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBold/ArialBold.woff") format("woff"),
    url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.new_table {
	font: 11px/22px "ArialRegular";
	margin: 0 auto;
	width: 1280px;
}
.table_caption,
.info_panel,
.table {
	display: table;
	width: 100%
}
.info_panel {
	background-color: #737880;
	border-top: 5px solid #81868D;
	height: 28px;
	margin-top: 1px;
	text-transform: uppercase;
	text-align: left;
}
.table_row {
	border: 1px solid #D3D5D7;
	display: table;
	width: 100%;
}
.table_row:hover {
	background-color: #FFF
}
.table_cell {
	display: table-cell;
	height: 30px;
	vertical-align: middle;
	text-align: left;
	color: #737880;
	padding: 0 11px;
}
.info_tb  {
	width: 8px;
}
.warning_red {
	background-color: #EBDBDB;
}
.warning_red .code_tb,
.warning_red .descr_tb,
.caption_td_name {
	color: #111;
	font-family: "ArialBold";
}
.warning_def {
	background-color: #EDF0F2
}
.warning_blue {
	background-color: #D5E9F3
}
.info_tb_red {
	border-left: 8px solid #d9230f
}
.info_tb_orange {
	border-left: 8px solid #FF7D00
}
.info_tb_yelow {
	border-left: 8px solid #FFC800
}
.table_caption {
	display: table;
	height: 28px;
	border-bottom: 4px solid #CDCDCD;
	text-transform: uppercase;
}
.info_msg {
	color: #FFF;
	width: 25%;
}
.info_total {
	color: #B0B3B7
}
.info_total, 
.info_msg {
  text-align: left;
  padding: 0 10px;
}
.ico_warn {
	background: url(../images/ico-warn.png) no-repeat;
	padding: 2px;
}
.ico_status_warn {
  background: url(../images/ico-status-verification.png) no-repeat;
}
.ico_status_edit {
	background: url(../images/ico-status-edit.png) no-repeat;
}
.ico_warn,
.ico_status_warn,
.ico_status_edit {
	padding: 0 9px;
	margin: 0 4px 0 20px;
	font-size: 19px;
	vertical-align: middle;
}
.ico_warn {
	margin-left: 0
}
.ico_scale_color {
	padding: 0 13px	0 20px;
	font-size: 21px;
	background: url(../images/ico-scale-color-id.png) no-repeat;

}
.table_separator {
	border-right: 1px solid #D2D2D2;
	height: 18px;
	float: right;
}
.caption_td,
.local_tb,
.process_tb,
.date_tb,
.code_tb {
  padding-left: 24px;
  width: 100px;
}
.caption_td_name {
	padding: 0;
	width: 145px;
}
.caption_td_name,
.date_tb span {
	font-family: "ArialBold";
}